* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
}

.logo {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: .020px;
}

.containerMenu{
    height: 100%;
    display:flex;
    flex-direction: column;
    margin: 0;
}

.FaceID{
    display: flex;
    align-items:center;
    border:2px #ccc;
    border-radius: 4px;
    padding: 5px;
}

.containerCarta{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding:25px;
    margin-bottom: 10rem;
}

.footer{
    margin-top:25px;
    background-color: #f8f9fa;
    padding: 10px 0; 
}

.result {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    font-size: 1.2rem;
    color: #2f7b6a; 
    text-align: center; 
    font-weight: bold;
}

.result:hover {
    background-color: #f0f8ff; 
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e0e0e0;
    z-index: 1000;
}

.config-btn{
    text-transform: uppercase;
}

.tituloqr{
    text-transform: uppercase;
    color:#2f7b6a;
    text-align: center;
    margin-top: 5rem;
}

.qrimg{
    max-width: 20rem;
    max-height: 20rem;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
}

.cameraqr{
    min-width: 10rem;
    min-height: 10rem;
    display: block;
    margin: 0 auto;
    padding-top: 2rem;
    color: #2f7b6a;
}

.sub-header{
    margin-left: 2rem;
    margin-top: 2rem;
}

.text-compartido{
    color: #2f7b6a;
    text-align: center;
    text-transform: uppercase;
}

.btn-pago{
    background-color: #2f7b6a;
    border: none;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 88%;
    font-size: 2rem;
}

.btn-pago a{
    color: #FFF;
    text-decoration: none;
}

.precio{
    color: #2f7b6a;
    font-size: 2rem;
    font-weight: 700;
}

.espacio{
    height: 25rem;
}