* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: .020px;
}

.containerMenu{
    height: 100%;
    display:flex;
    flex-direction: column;
    margin: 0;
}

.FaceID{
    display: flex;
    align-items:center;
    border:2px #ccc;
    border-radius: 4px;
    padding: 5px;
}

.containerCarta{
    display:list-item;
    align-items:center;
    padding:25px;
    
}

.footer{
    margin-top:25px;
    background-color: #f8f9fa;
    padding: 10px 0; 
}
